.pokemon-img-container {
  display: flex;
  justify-content: end;
}

.pokemon-resultado {
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: sans-serif;
  color: #7577c1;
  background-color: transparent;
  position: absolute;
  top: 280px;
  left: 122px;
  display: none;
}

.pokemon-resultado.ativo {
  display: flex;
}

img {
  width: 120%;
}

.pokemon-resultado h2,
.pokemon-resultado p {
  margin: 0;
  padding: 0;
}

.pokemon-resultado h2 {
  margin-bottom: 10px;
}

.pokemon-resultado p {
  font-size: 1.1rem;
}

@media (max-width: 830px) {
  .pokemon-resultado {
    max-width: 270px;
    gap: 10px;
    top: 165px;
    left: 37px;
  }

  img {
    width: 70%;
  }

  .pokemon-resultado h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .pokemon-resultado p {
    font-size: 0.9rem;
  }
}

@media (max-width: 510px) {
  .pokemon-resultado {
    max-width: 182px;
    gap: 10px;
    top: 100px;
    left: -10px;
  }

  .pokemon-resultado h2 {
    font-size: .6rem;
    margin-bottom: 3px;
  }

  .pokemon-resultado p {
    font-size: .475rem;
  }

  img {
    width: 40%;
  }
}